<mat-toolbar color="primary" class="max-w-7x1 mx-auto border-x justify-between">
  <a routerLink="home">Hahs Store</a>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon [matBadge]="6" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <section class="pb-3 flex justify-between">
        <span class="mr-16">1 Items</span>
        <a routerLink="cart">View Cart</a>
      </section>

      <section class="py-3">
        <article class="flex justify-between font-light mb-2">
          Keyboard x 1
          <span class="font-bold">{{ "150" | currency }}</span>
        </article>
        <article class="flex justify-between font-light mb-2">
          Keyboard x 1
          <span class="font-bold">{{ "150" | currency }}</span>
        </article>
        <article class="flex justify-between font-light mb-2">
          Keyboard x 1
          <span class="font-bold">{{ "150" | currency }}</span>
        </article>
      </section>

      <section class="py-3 flex justify-between font-light">
        Total:
        <span class="font-bold">{{ "450" | currency }}</span>
      </section>

      <section class="py-3 flex justify-between">
        <button class="bg-rose-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button
          routerLink="cart"
          class="bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </section>
    </div>
  </mat-menu>
</mat-toolbar>
